[submodule "Comment.nvim"]
	path = Comment.nvim
	url = git@github.com:obergodmar/Comment.nvim.git
[submodule "LuaSnip"]
	path = LuaSnip
	url = git@github.com:obergodmar/LuaSnip.git
[submodule "advanced-git-search.nvim"]
	path = advanced-git-search.nvim
	url = git@github.com:obergodmar/advanced-git-search.nvim.git
[submodule "bufferline.nvim"]
	path = bufferline.nvim
	url = git@github.com:obergodmar/bufferline.nvim.git
[submodule "cmp-buffer"]
	path = cmp-buffer
	url = git@github.com:obergodmar/cmp-buffer.git
[submodule "cmp-nvim-lsp"]
	path = cmp-nvim-lsp
	url = git@github.com:obergodmar/cmp-nvim-lsp.git
[submodule "cmp-path"]
	path = cmp-path
	url = git@github.com:obergodmar/cmp-path.git
[submodule "cmp_luasnip"]
	path = cmp_luasnip
	url = git@github.com:obergodmar/cmp_luasnip.git
[submodule "fidget.nvim"]
	path = fidget.nvim
	url = git@github.com:obergodmar/fidget.nvim.git
[submodule "formatter.nvim"]
	path = formatter.nvim
	url = git@github.com:obergodmar/formatter.nvim.git
[submodule "friendly-snippets"]
	path = friendly-snippets
	url = git@github.com:obergodmar/friendly-snippets.git
[submodule "git-messenger.vim"]
	path = git-messenger.vim
	url = git@github.com:obergodmar/git-messenger.vim.git
[submodule "gitsigns.nvim"]
	path = gitsigns.nvim
	url = git@github.com:obergodmar/gitsigns.nvim.git
[submodule "kanagawa.nvim"]
	path = kanagawa.nvim
	url = git@github.com:obergodmar/kanagawa.nvim.git
[submodule "lazy.nvim"]
	path = lazy.nvim
	url = git@github.com:obergodmar/lazy.nvim.git
[submodule "lsp-timeout.nvim"]
	path = lsp-timeout.nvim
	url = git@github.com:obergodmar/lsp-timeout.nvim.git
[submodule "lspkind.nvim"]
	path = lspkind.nvim
	url = git@github.com:obergodmar/lspkind.nvim.git
[submodule "lspsaga.nvim"]
	path = lspsaga.nvim
	url = git@github.com:obergodmar/lspsaga.nvim.git
[submodule "lualine.nvim"]
	path = lualine.nvim
	url = git@github.com:obergodmar/lualine.nvim.git
[submodule "mason-lspconfig.nvim"]
	path = mason-lspconfig.nvim
	url = git@github.com:obergodmar/mason-lspconfig.nvim.git
[submodule "mason.nvim"]
	path = mason.nvim
	url = git@github.com:obergodmar/mason.nvim.git
[submodule "neodev.nvim"]
	path = neodev.nvim
	url = git@github.com:obergodmar/neodev.nvim.git
[submodule "nerdfont.vim"]
	path = nerdfont.vim
	url = git@github.com:obergodmar/nerdfont.vim.git
[submodule "nvim-autopairs"]
	path = nvim-autopairs
	url = git@github.com:obergodmar/nvim-autopairs.git
[submodule "nvim-cmp"]
	path = nvim-cmp
	url = git@github.com:obergodmar/nvim-cmp.git
[submodule "nvim-colorizer.lua"]
	path = nvim-colorizer.lua
	url = git@github.com:obergodmar/nvim-colorizer.lua.git
[submodule "nvim-config-local"]
	path = nvim-config-local
	url = git@github.com:obergodmar/nvim-config-local.git
[submodule "nvim-lint"]
	path = nvim-lint
	url = git@github.com:obergodmar/nvim-lint.git
[submodule "nvim-lspconfig"]
	path = nvim-lspconfig
	url = git@github.com:obergodmar/nvim-lspconfig.git
[submodule "nvim-spectre"]
	path = nvim-spectre
	url = git@github.com:obergodmar/nvim-spectre.git
[submodule "nvim-treesitter"]
	path = nvim-treesitter
	url = git@github.com:obergodmar/nvim-treesitter.git
[submodule "nvim-treesitter-textobjects"]
	path = nvim-treesitter-textobjects
	url = git@github.com:obergodmar/nvim-treesitter-textobjects.git
[submodule "nvim-ufo"]
	path = nvim-ufo
	url = git@github.com:obergodmar/nvim-ufo.git
[submodule "nvim-web-devicons"]
	path = nvim-web-devicons
	url = git@github.com:obergodmar/nvim-web-devicons.git
[submodule "plenary.nvim"]
	path = plenary.nvim
	url = git@github.com:obergodmar/plenary.nvim.git
[submodule "promise-async"]
	path = promise-async
	url = git@github.com:obergodmar/promise-async.git
[submodule "statuscol.nvim"]
	path = statuscol.nvim
	url = git@github.com:obergodmar/statuscol.nvim.git
[submodule "toggleterm.nvim"]
	path = toggleterm.nvim
	url = git@github.com:obergodmar/toggleterm.nvim.git
[submodule "transparent.nvim"]
	path = transparent.nvim
	url = git@github.com:obergodmar/transparent.nvim.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git@github.com:obergodmar/vim-fugitive.git
[submodule "vim-sandwich"]
	path = vim-sandwich
	url = git@github.com:obergodmar/vim-sandwich.git
[submodule "vim-sleuth"]
	path = vim-sleuth
	url = git@github.com:obergodmar/vim-sleuth.git
[submodule "which-key.nvim"]
	path = which-key.nvim
	url = git@github.com:obergodmar/which-key.nvim.git
[submodule "yanklines.nvim"]
	path = yanklines.nvim
	url = git@github.com:obergodmar/yanklines.nvim.git
[submodule "fzf-lua"]
	path = fzf-lua
	url = git@github.com:obergodmar/fzf-lua.git
[submodule "nvim-tree.lua"]
	path = nvim-tree.lua
	url = git@github.com:obergodmar/nvim-tree.lua.git
[submodule "lsp_signature.nvim"]
	path = lsp_signature.nvim
	url = git@github.com:obergodmar/lsp_signature.nvim.git
[submodule "markdown-preview.nvim"]
	path = markdown-preview.nvim
	url = git@github.com:obergodmar/markdown-preview.nvim.git
[submodule "langmapper.nvim"]
	path = langmapper.nvim
	url = git@github.com:obergodmar/langmapper.nvim.git
[submodule "cmp-cmdline"]
	path = cmp-cmdline
	url = git@github.com:obergodmar/cmp-cmdline.git
